{:paths ["src" "resources"]
 :deps
 { ;; for lint-queries
  io.lambdaforge/datalog-parser {:mvn/version "0.1.11"}
  me.tagaholic/dlint {:mvn/version "0.1.0"}
  logseq/bb-tasks
  #_{:local/root "../../work/bb-tasks"}
  {:git/url "https://github.com/logseq/bb-tasks"
   :git/sha "abb32ccd26405d56fd28a29d56f3cb902b8c4334"}}
 :tasks
 {:requires ([clojure.string :as str])

  copy-test-db
  {:requires ([cldwalker.logseq-query.util :as util]
              [babashka.fs :as fs])
   :doc "Copy test-notes db from ~/.logseq/graphs to test"
   :task (fs/copy
          (util/get-graph-path "test-notes")
          "test/cldwalker/logseq_query/test-notes.json"
          {:replace-existing true})}

  lint:rules
  {:requires ([logseq.bb-tasks.lint.datalog :as datalog]
              [babashka.fs :as fs]
              [clojure.edn :as edn])
   :doc "Lint datalog rules for parsability and unbound variables"
   :task (let [read-config-file (fn [file]
                                  (if (fs/exists? file)
                                    (-> file slurp edn/read-string)
                                    {}))]
           (datalog/lint-rules
            (->> *command-line-args*
                 (map read-config-file)
                 (apply merge)
                 vals
                 (map :rule))))}

  ;; Publish tasks copied from nbb
  publish {:doc "Bump to version, pushes tag and lets CI publish to npm."
           :task
           (let [version (or (first *command-line-args*)
                             (throw (ex-info "No version given!" {})))]
             (shell "npm version" version)
             (shell "git push --atomic origin main" (str "v" version)))}

  current-tag (->> (shell {:out :string} "git describe")
                   :out
                   str/trim
                   (re-matches (re-pattern "^v\\d+\\.\\d+\\.\\d+")))

  current-branch (->> (shell {:out :string} "git rev-parse --abbrev-ref HEAD")
                      :out
                      str/trim)

  ci:is-release {:depends [current-tag current-branch]
                 :task (and current-tag (= "main" current-branch))}

  ci:publish {:doc "Publishes release build to npm"
              :depends [ci:is-release]
              :task
              (if ci:is-release
                (do
                  (println "Releasing")
                  (shell "npm publish"))
                (println "Skipping release."))}}}
