{:paths ["src"]
 :deps {datascript-transit/datascript-transit {:mvn/version "0.3.0"
                                               :exclusions [datascript/datascript]}}
 :tasks
 {rules
  cldwalker.logseq-query.tasks/rules

  q
  cldwalker.logseq-query.tasks/q

  qs
  cldwalker.logseq-query.tasks/qs

  graphs
  cldwalker.logseq-query.tasks/graphs

  queries
  cldwalker.logseq-query.tasks/queries}}
