{:paths ["src" "resources"]
 :deps
 ;; TODO: Use this as it should work, but doesn't
 #_{local/deps {:local/root "."}}
 {datascript-transit/datascript-transit {:mvn/version "0.3.0"
                                         :exclusions [datascript/datascript]}
  io.lambdaforge/datalog-parser {:mvn/version "0.1.11"}
  logseq/logseq {:git/url "https://github.com/logseq/logseq"
                 :git/sha "e16297132fe1cfff44277416e22ca744cbc4bd44"}}
 :tasks
 {rules
  cldwalker.logseq-query.tasks/rules

  q
  cldwalker.logseq-query.tasks/q

  sq
  cldwalker.logseq-query.tasks/sq

  graphs
  cldwalker.logseq-query.tasks/graphs

  queries
  cldwalker.logseq-query.tasks/queries}}
