[{:desc "Join to block by property or property value"
  :rule
  [(block-property ?b ?property-name ?property-value)
   [?b :block/properties ?p]
   [(get ?p ?property-name) ?property-value]]}

 {:desc "All blocks with given property"
  :rule
  [(all-block-property ?b ?prop ?ks)
   [?b :block/properties ?prop]
   [(missing? $ ?b :block/name)]
   [(keyword ?ks) ?k]
   [(get ?prop ?k)]]}

 {:desc "Join to page by name, property or property value"
  :rule
  [(page-name-property ?b ?block-name ?property-name ?property-value)
   [?b :block/original-name ?block-name]
   [?b :block/properties ?p]
   [(get ?p ?property-name) ?property-values]
   [(contains? ?property-values ?property-value)]]}

 {:desc "Todos that contain one of markers"
  :rule
  [(todo ?b ?markers)
   [?b :block/marker ?marker]
   [(contains? ?markers ?marker)]]}

 {:desc "Blocks tagged with page/tag ref"
  :rule
  [(tag ?b ?tag)
   [?b :block/path-refs ?b2]
   [?b2 :block/name ?tag]]}

 {:desc "Search :block/content"
  :rule [(content-search ?b ?query)
         [?b :block/content ?content]
         [(clojure.string/includes? ?content ?query)]]}
 ]
