{:block-property
 {:query [:find (pull ?b [*])
          :in $ ?prop ?prop-value %
          :where
          [(keyword ?prop) ?prop-k]
          (block-property ?b ?prop-k ?prop-value)]
  :desc "List all blocks that have property equal to property value"
  :default-args ["type" "person"]}

 :block-properties
 {:query [:find (pull ?b [*])
          :in $ %
          :where
          [?b :block/properties ?_prop]
          [(missing? $ ?b :block/name)]]
  :desc "List all block properties"}

 :block-property-counts
 {:query :block-properties
  :result-transform (fn [result]
                      (->> result
                           (map (fn [m] (zipmap (keys (:block/properties m)) (repeat 1))))
                           (apply merge-with +)
                           (sort-by val >)))
  :desc "Counts for all block properties"}

 :all-block-property
 {:query [:find (pull ?b [*])
          :in $ ?ks %
          :where
          (all-block-property ?b ?_prop ?ks)]
  :desc "List blocks that have given property"}

 :todos
 {:query [:find (pull ?b
                      [* :block/parent {:block/page [:db/id :block/name]}])
          :in $ %
          :where
          [?b :block/marker ?_marker]]
  :desc "List all todos"}

 :todos-by-page
 {:query :todos
  :result-transform (fn [result]
                      (->> (update-vals
                            (group-by (fn [x] (get-in x [:block/page :block/name])) result) count)
                           (sort-by val >)))
  :desc "todos count by page"}

 :todo-marker
 {:query [:find (pull ?b [*])
          :in $ ?markers %
          :where
          (todo ?b ?markers)]
  :default-args [#{"TODO" "DOING"}]
  :args-transform (fn [args]
                    (set (map (comp clojure.string/upper-case name) args)))
  :desc "Todos that contain one of the markers"}

 :content-search
 {:query [:find (pull ?b [*])
          :in $ ?query %
          :where
          (content-search ?b ?query)]
  :desc "Full text search on :block/content"}

 :property-search
 {:query [:find (pull ?b [*])
          :in $ ?prop ?query %
          :where
          [(keyword ?prop) ?prop-k]
          (block-property ?b ?prop-k ?prop-value)
          [(clojure.string/includes? ?prop-value ?query)]]
  :desc "Full text search on property"}}
